.addBttn {
    max-width: 256px;
    padding: 8px 16px 16px;
}

.brbsPe {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    border-radius:6.25rem;
    border-width: 0;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-sizing: border-box;
    color: rgb(60, 64, 67);
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    fill: rgb(60, 64, 67);
    gap: .75rem;
    grid-template-columns: auto 1fr;
    height: 3.5rem;
    min-width: 6.25rem;
    padding: 1.125rem 1.25rem 1.125rem 1rem;
    place-content: center start;
    -webkit-transition: box-shadow .08s linear;
    transition: box-shadow .08s linear;
    -webkit-user-select: none;
    user-select: none;
}

.Ss7qXc {
    outline: none;
    position: relative;
}

.brbsPe .cUCuw {
    background-color: #fff;
    display: block;
    opacity: 0;
    -webkit-transition: background-color .25s, opacity .25s;
    transition: background-color .25s, opacity .25s;
}

ul {
    padding-left: 0px !important;
}