<div class="m">
    <div class="hr">
        <div class="hi">
            <img src="../../../assets/images/gd.png" alt="drive">
            <span class="hd2">Drive</span>
        </div>
        <div class="ms">
            <div class="ib">
                <span class="material-symbols-outlined si-ic">search</span>
                <input type="text" class="isb" placeholder="Search in Drive">
                <span class="material-symbols-outlined tn-ic">tune</span>
            </div>
        </div>
        <div class="ls">
            <span class="material-symbols-outlined">help</span>
            <span class="material-symbols-outlined">settings</span>
            <span class="material-symbols-outlined">apps</span>
            <img src="../../../assets/images/profile.png" alt="profile">
        </div>
    </div>
    <div class="mc">
        <div class="sb">
            <div class="nb">
                <button class="bt">
                    <div class="bti"><span class="material-symbols-outlined">add</span></div>
                    <div class="btt">New</div>
                </button>
            </div>
            <div class="mbr">
                <ul class="sbm">
                    <li class="mg">
                        <ul>
                            <li class="mi" (click)="navigateToHome();">
                                <span class="material-symbols-outlined">home</span>
                                Home
                            </li>
                            <li class="mi" (click)="navigateToMyDrive();">
                                <span class="material-symbols-outlined">folder</span>
                                My Drive
                            </li>
                        </ul>
                    </li>
                    <li class="mg">
                        <ul>
                            <li class="mi" (click)="navigateToSharedWithMe();">
                                <span class="material-symbols-outlined">folder</span>
                                Shared With Me
                            </li>
                            <li class="mi" (click)="navigateToRecent();">
                                <span class="material-symbols-outlined">schedule</span>
                                Recent
                            </li>
                            <li class="mi" (click)="navigateToStarred();">
                                <span class="material-symbols-outlined">star</span>
                                Starred
                            </li>
                        </ul>
                    </li>
                    <li class="mg">
                        <ul>
                            <li class="mi" (click)="navigateToTrash();">
                                <span class="material-symbols-outlined">delete</span>
                                Trash
                            </li>
                            <li class="mi" (click)="navigateToStorage();">
                                <span class="material-symbols-outlined">cloud</span>
                                Storage
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bd">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
