<div class="mbs">
    <div class="hd">Welcome to Drive</div>
    <div class="fdr-s">
        <div class="sh">Suggested Folders</div>
        <div class="cd-s">
            @for (fItem of suggFolderList; track $index) {
                <div class="cd-ds">
                    <div class="fd-ic"><span class="material-symbols-outlined">folder</span></div>
                    <div class="cd-dts">
                        <div class="cd-n"><strong>{{fItem.name}}</strong></div>
                        <div class="cd-d">{{fItem.isShared ? 'In Shared With Me' : 'In My Drive'}}</div>
                    </div>
                    <div class="mn-ic"><span class="material-symbols-outlined">more_vert</span></div>
                </div>
            }
        </div>
    </div>
    <div class="fls-s">
        <div class="sh">Suggested Files</div>
        <div class="button-group">
            <button type="button" class="button" [ngClass]="hideShowGrid ? '' : 'button-group active'"
                (click)="hideShowGridView();">
                @if (!hideShowGrid) {
                    <span class="material-symbols-outlined sp">check</span>
                }
                <span class="material-symbols-outlined sp" style="margin-left: 4px;">menu</span>
            </button>
            <button type="button" class="button" [ngClass]="!hideShowGrid ? '' : 'button-group active'"
                (click)="hideShowGridView();">
                @if (hideShowGrid) {
                    <span class="material-symbols-outlined sp">check</span>
                }
                <span class="material-symbols-outlined sp" style="margin-left: 4px;">grid_view</span>
            </button>
        </div>
    </div>
    <div class="td">
        @if (!hideShowGrid) {
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Reason Suggested</th>
                        <th>Owner</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (fItem of suggFileList; track $index) {
                        <tr>
                            <td>{{fItem.name}}</td>
                            <td><span>You Opened <span class="dot"></span> {{fItem.lastOpened}}</span></td>
                            <td><img class="img" src="{{fItem.icon}}" alt="profile">{{fItem.owner}}</td>
                            <td>{{fItem.location}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else if (hideShowGrid) {
            <div class="cd-s-g">
                @for (fItem of suggFileList; track $index) {
                    <div class="gd-sc">
                        <div class="gr-hd">
                            <div class="grhd">
                                <div class="ic-h">
                                    @if (fItem.type == 'excel') {
                                        <img class="img" src="../../../assets/images/excel.svg" alt="excel">
                                    } @else if (fItem.type == 'doc') {
                                        <img class="img" src="../../../assets/images/doc.svg" alt="doc">
                                    }
                                </div>
                                <div class="nm-hr">{{fItem.name}}</div>
                            </div>
                            <div class="mn-ic-hd"><span class="material-symbols-outlined">more_vert</span></div>
                        </div>
                        <div class="gd-ms">
                            <img src="../../../assets/images/bg-img.jpeg" alt="sample">
                        </div>
                        <div class="gd-bs">
                            <img class="img-sc" src="{{fItem.icon}}" alt="profile">
                            <span>You Opened <span class="dot"></span> {{fItem.lastOpened}}</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>